# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
indent_size = 2
max_line_length = 80

# Haskell files
[*.{hs,lhs}]
indent_style = space
indent_size = 2
max_line_length = 80

# Cabal files
[*.cabal]
indent_style = space
indent_size = 2

# Nix files
[*.nix]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
max_line_length = off

# YAML files (often used with Haskell/Nix projects)
[*.{yml,yaml}]
indent_style = space
indent_size = 2
